node_modules/
.env
.github
data/
client/dist/
client/node_modules/
client/package-lock.json
*.log
.DS_Store

android/
ios/
.capacitor/

client/dist/sw.js
client/dist/workbox-*.js
client/dist/manifest.json
